*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #294892;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Outfit', sans-serif;
}

.reference {
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
}

.open-nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header {
  position: fixed;
  z-index: 999;
  height: 5em;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px #999999;
          box-shadow: 0 2px 7px #999999;
}

header .logo {
  width: 3.5em;
}

header .logo img {
  width: 100%;
}

header .support {
  display: none;
  border: 1.3px solid #294892;
  width: 9em;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px #294892;
          box-shadow: 0 0 5px #294892;
  display: none;
}

header .support a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

header .social-links {
  display: none;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

header nav .close {
  width: 1.5em;
  float: right;
  margin: 2em 2.1em;
}

header nav .close path {
  fill: #294892;
}

header nav ul {
  margin-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul a {
  color: #294892;
  text-decoration: none;
  padding: 1.5em 0;
  display: block;
}

header nav ul a:hover {
  color: #F19C38;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8%;
}

.hero .video-mobile {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.hero .video-desktop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  display: none;
}

.hero .main-text {
  width: 70%;
  z-index: 10;
}

.hero .main-text h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 3rem;
}

.hero .main-text p {
  font-size: 16px;
  font-weight: 300;
  margin: 1em 0 1.5em;
}

.hero .main-text p span {
  font-weight: 500;
}

.hero .main-text .main-btn {
  border: 1.3px solid #294892;
  width: 9em;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px #294892;
          box-shadow: 0 0 5px #294892;
}

.hero .main-text .main-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.hero .main-text .main-btn .arrow {
  width: .7em;
}

.hero .gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  height: 10em;
  z-index: 500;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#help {
  height: auto;
  width: 100%;
  position: relative;
  padding: 2em 8% 0;
}

#help h2 {
  font-size: 2rem;
}

#help h2 span {
  position: relative;
}

#help h2 span::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  height: 3px;
  width: 72%;
  background-color: #F19C38;
}

#help .circulo {
  height: 50em;
  width: 20em;
  background-color: #294892;
  position: absolute;
  top: 10em;
  left: -20em;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

#help .flex-help {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}

#help .flex-help .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 8em;
  height: 8em;
}

#help .flex-help .item svg {
  width: 65%;
}

#help .flex-help .item p {
  margin-top: .3em;
}

#help .btn-help {
  margin: 3em auto;
  border: 1.3px solid #294892;
  width: 9.5em;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px #294892;
          box-shadow: 0 0 5px #294892;
}

#help .btn-help a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

#help .btn-help .arrow {
  width: .7em;
}

#metrics {
  height: 47em;
  width: 100%;
  position: relative;
  padding: 2em 8% 0;
}

#metrics h2 {
  font-size: 2rem;
}

#metrics h2 span {
  position: relative;
}

#metrics h2 span::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  height: 3px;
  width: 56%;
  background-color: #F19C38;
}

#metrics p {
  margin: 2em 0 2em;
}

#metrics .btn-metrics {
  border: 1.3px solid #294892;
  width: 9.5em;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px #294892;
          box-shadow: 0 0 5px #294892;
}

#metrics .btn-metrics a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

#metrics .btn-metrics .arrow {
  width: .7em;
}

#metrics .mini-title {
  margin-top: 3em;
}

#metrics .mini-title strong {
  color: #000;
}

#metrics .container-metrics {
  width: 18.5em;
  height: 19em;
  border: 1px solid #294892;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#metrics .container-metrics a {
  font-size: 1.3rem;
  display: inline-block;
  margin: .8em 0;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: .2em;
}

#metrics .container-metrics a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F19C38;
}

#metrics .container-metrics .border-metrics {
  position: absolute;
  top: .5em;
  left: .5em;
  width: 100%;
  height: 100%;
  border: 1px solid #294892;
  z-index: -2;
}

#metrics .metrics-img {
  position: absolute;
  top: 14em;
  right: 0;
}

#metrics .metrics-img2 {
  display: none;
}

#services {
  height: auto;
  width: 100%;
  position: relative;
  padding: 2em 8% 0;
}

#services h2 {
  font-size: 2rem;
  margin-bottom: 4em;
  text-align: right;
}

#services h2 span {
  position: relative;
}

#services h2 span::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  height: 3px;
  width: 25%;
  background-color: #F19C38;
}

#services .main-container-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7em;
}

#services .main-container-services .container-service {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-11.25%, rgba(3, 17, 52, 0.8)), color-stop(119.37%, rgba(88, 136, 255, 0.616)));
  background: linear-gradient(180deg, rgba(3, 17, 52, 0.8) -11.25%, rgba(88, 136, 255, 0.616) 119.37%);
  -webkit-backdrop-filter: blur(16.7876px);
          backdrop-filter: blur(16.7876px);
  width: 100%;
  border-radius: 30px;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#services .main-container-services .container-service img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: -5em;
}

#services .main-container-services .container-service h3 {
  padding-top: 5em;
  color: #fff;
  font-size: 22px;
}

#services .main-container-services .container-service p {
  font-size: 14px;
  color: #fff;
  margin: 1em 0;
}

#contact {
  height: 60em;
  width: 100%;
  position: relative;
  padding: 2em 8% 0;
}

#contact h2 {
  margin: 1em 0 2em;
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

#contact h2::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  height: 3px;
  width: 40%;
  background-color: #F19C38;
}

#contact .container-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

#contact .container-contact .item-contact {
  text-align: center;
  width: 19em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container-contact .item-contact h3 {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  margin: 1em 0;
}

#contact .container-contact .item-contact h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F19C38;
}

#contact .container-contact .item-contact p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

#contact .container-contact .item-contact img {
  width: 40%;
}

#footer {
  height: 57em;
  width: 100%;
  position: relative;
  padding: 2em 8% 0;
  -webkit-box-shadow: 0 0 10px #545454;
          box-shadow: 0 0 10px #545454;
}

#footer .container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .container-footer img {
  margin: 2em 0;
}

#footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-links a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0;
  font-weight: 500;
}

#footer .container-footer2 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

#footer .container-footer2 .item-footer h3 {
  font-size: 26px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-bottom: .5em;
}

#footer .container-footer2 .item-footer h3::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #F19C38;
}

@media only screen and (min-width: 1300px) {
  header {
    height: 8em;
  }
  header .menu {
    display: none;
  }
  header .logo {
    width: 5.5em;
  }
  header .logo img {
    width: 5.5em;
  }
  header .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  header .support:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  header .support a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
  header .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .social-links svg {
    margin: .5em;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }
  header .social-links svg:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    height: auto;
    background-color: none;
    width: auto;
    z-index: 100;
    text-transform: uppercase;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
  }
  header nav .close {
    display: none;
    width: 1.5em;
    float: right;
    margin: 2em 2.1em;
  }
  header nav .close path {
    fill: #294892;
  }
  header nav ul {
    margin-top: 0;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  header nav ul a {
    color: #294892;
    text-decoration: none;
    margin: 0em 1.5em;
    display: inline-block;
    font-weight: 500;
    position: relative;
  }
  header nav ul a::after {
    content: "";
    position: absolute;
    background-color: #F19C38;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  header nav ul a:hover::after {
    width: 100%;
  }
  header nav ul a:hover {
    color: #294892;
  }
  .hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8%;
  }
  .hero .video-mobile {
    display: none;
  }
  .hero .video-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .main-text {
    width: 50%;
    z-index: 10;
  }
  .hero .main-text h1 {
    font-weight: 700;
    font-size: 76px;
    line-height: 79px;
  }
  .hero .main-text p {
    font-size: 20px;
    font-weight: 300;
    margin: 1em 0 1.5em;
    line-height: 2rem;
  }
  .hero .main-text p span {
    font-weight: 500;
  }
  .hero .main-text .main-btn {
    border: 1.3px solid #294892;
    width: 11em;
    padding: 1.3em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 5px #294892;
            box-shadow: 0 0 5px #294892;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  .hero .main-text .main-btn:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .hero .main-text .main-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }
  .hero .main-text .main-btn .arrow {
    width: .7em;
  }
  .hero .gradient {
    background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    height: 10em;
    z-index: 500;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #help {
    height: auto;
    width: 100%;
    position: relative;
    padding: 2em 8% 0;
  }
  #help h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  #help h2 span {
    position: relative;
  }
  #help h2 span::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 6px;
    width: 72%;
    background-color: #F19C38;
  }
  #help .circulo {
    height: 50em;
    width: 20em;
    background-color: #294892;
    position: absolute;
    top: 10em;
    left: -20em;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  #help .flex-help {
    width: 60%;
    margin: 5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
  }
  #help .flex-help .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 8em;
    height: 8em;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  #help .flex-help .item:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #help .flex-help .item svg {
    width: 65%;
  }
  #help .flex-help .item p {
    margin-top: .3em;
  }
  #help .btn-help {
    margin: 3em auto;
    border: 1.3px solid #294892;
    width: 9.5em;
    padding: 1em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 5px #294892;
            box-shadow: 0 0 5px #294892;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
  }
  #help .btn-help:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #help .btn-help a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
  #help .btn-help .arrow {
    width: .7em;
  }
  #metrics {
    height: 47em;
    width: 100%;
    position: relative;
    padding: 2em 8% 0;
  }
  #metrics .metrics-text {
    width: 40%;
    margin-left: auto;
  }
  #metrics .metrics-text h2 {
    font-size: 3.5rem;
    text-align: right;
  }
  #metrics .metrics-text h2 span {
    position: relative;
  }
  #metrics .metrics-text h2 span::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 6px;
    width: 56%;
    background-color: #F19C38;
  }
  #metrics .metrics-text p {
    text-align: right;
    width: 100%;
  }
  #metrics .metrics-text .btn-metrics {
    border: 1.3px solid #294892;
    margin-left: auto;
    width: 9.5em;
    padding: 1em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 5px #294892;
            box-shadow: 0 0 5px #294892;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
  }
  #metrics .metrics-text .btn-metrics:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #metrics .metrics-text .btn-metrics a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
  #metrics .metrics-text .btn-metrics .arrow {
    width: .7em;
  }
  #metrics .mini-title {
    margin-top: 3em;
    text-align: center;
  }
  #metrics .mini-title strong {
    font-size: 1.2rem;
    color: #000;
  }
  #metrics .container-metrics {
    margin: 0 auto;
    width: 23.5em;
    height: 24em;
    border: 1px solid #294892;
    padding: 0 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  #metrics .container-metrics a {
    font-size: 1.7rem;
    display: inline-block;
    margin: .8em 0;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding-bottom: .2em;
  }
  #metrics .container-metrics a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F19C38;
  }
  #metrics .container-metrics .border-metrics {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 100%;
    height: 100%;
    border: 1px solid #294892;
    z-index: -2;
  }
  #metrics .metrics-img {
    display: none;
  }
  #metrics .metrics-img2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10em;
    left: 0;
    width: 20em;
  }
  #services {
    height: auto;
    width: 100%;
    position: relative;
    padding: 10em 8% 0;
  }
  #services h2 {
    font-size: 3.5rem;
    margin-bottom: 2em;
    text-align: right;
  }
  #services h2 span {
    position: relative;
  }
  #services h2 span::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 6px;
    width: 25%;
    background-color: #F19C38;
  }
  #services .main-container-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3em;
  }
  #services .main-container-services .container-service {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-11.25%, rgba(3, 17, 52, 0.8)), color-stop(119.37%, rgba(88, 136, 255, 0.616)));
    background: linear-gradient(180deg, rgba(3, 17, 52, 0.8) -11.25%, rgba(88, 136, 255, 0.616) 119.37%);
    -webkit-backdrop-filter: blur(16.7876px);
            backdrop-filter: blur(16.7876px);
    width: 40%;
    border-radius: 30px;
    padding: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    gap: 2em;
  }
  #services .main-container-services .container-service img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    top: 0;
  }
  #services .main-container-services .container-service h3 {
    padding-top: 0;
    color: #fff;
    font-size: 22px;
  }
  #services .main-container-services .container-service p {
    font-size: 14px;
    color: #fff;
    margin: 1em 0;
  }
  #contact {
    height: 50em;
    width: 100%;
    position: relative;
    padding: 5em 8% 0;
  }
  #contact h2 {
    margin: 1em 0 2em;
    font-size: 3.5rem;
    position: relative;
    display: inline-block;
  }
  #contact h2::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 6px;
    width: 40%;
    background-color: #F19C38;
  }
  #contact .container-contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 6em;
  }
  #contact .container-contact .item-contact {
    text-align: center;
    width: 20em;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .container-contact .item-contact h3 {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin: 1em 0;
  }
  #contact .container-contact .item-contact h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F19C38;
  }
  #contact .container-contact .item-contact p {
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }
  #contact .container-contact .item-contact img {
    width: 40%;
  }
  #footer {
    height: 25em;
    width: 100%;
    position: relative;
    padding: 0 8%;
    -webkit-box-shadow: 0 0 10px #545454;
            box-shadow: 0 0 10px #545454;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container-footer {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container-footer img {
    margin: 2em 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 8em;
    cursor: pointer;
  }
  #footer .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 12em;
  }
  #footer .footer-links a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em 0;
    font-weight: 500;
  }
  #footer .container-footer2 {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2em;
  }
  #footer .container-footer2 .item-footer h3 {
    font-size: 26px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-bottom: .5em;
  }
  #footer .container-footer2 .item-footer h3::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: #F19C38;
  }
}
/*# sourceMappingURL=estilos.css.map */